/* --- Universal Setting & Reset CSS --- */

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif', 'Apple LiGothic', '微軟正黑體', 'Microsoft JhengHei';
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

a,
a:active,
a:focus {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

:focus {
	/* stylelint-disable declaration-no-important */
	outline: none !important;
	/* stylelint-enable declaration-no-important */
}

._template-block {
	display: none;
}
