.task-item {
	display: flex;
	align-items: center;
	height: 50px;
	padding: 0 20px;
	color: white;
	font-weight: 300;
	background-image: linear-gradient(90deg, #FCAFBC, #FDC3A1);
	border-radius: 10px;
	border: 1px solid transparent;
	overflow: hidden;

	& > .check-flag {
		margin-right: 10px;
	}

	& > .title {
		font-size: 16px;
		max-width: calc(100% - 26px - 35px - 20px);
		overflow: hidden;
		white-space: nowrap;
	}

	& > i.fa {
		cursor: pointer;
	}

	& > i.fa.fa-edit {
		margin-left: auto;
		margin-right: 10px;
	}
}

.task-item.-completed {
	background-image: none;
	color: #D7DDE8;
	border-color: #D7DDE8;

	& > .title {
		position: relative;
	}

	& > .title::after {
		content: '';
		width: 100%;
		height: 2px;
		margin-top: -1px;
		background-color: #D7DDE8;
		position: absolute;
		top: 50%;
		left: 0;
	}
}
